<launch>

  <!-- Launch moveit planning execution -->
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
  <arg name="limited" value="true" />
  </include>

  <!-- Launch moveit rviz -->
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
  <arg name="config" value="true" />
  </include>


</launch>

