<?xml version="1.0" ?>
<launch>

    <arg name="camera" default="camera" />

    <node name="ros_realsense" pkg="ros_realsense" type="ros_realsense_node" output="screen" respawn="true">
    </node>

    <include file="$(find ros_realsense)/launch/realsense_frames.launch">
        <arg name="camera" value="$(arg camera)" />
    </include>

    <!-- Transform between realsense camera and right hand -->
    <node pkg="tf" type="static_transform_publisher" name="hand_to_camera_tf"
       args="-0.04 0.0 0.00 0.0 -1.57 0.0 /right_hand /camera_link 100" />

</launch>
